<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\whro1\source\repos\C# Code\C#_Practice\C#_Practice\CurrencyConverter_Static\CurrencyConverter_Static\DataBase\CurrencyConverter.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>